
body {
    margin: 0;
    color: #2c2c2c;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #fff;
}

.about{
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: black;
    color:#fafdfd;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: auto;
}

.about-col{
    width: 45% !important;
}

.about h1{
    color: #0755b2;
    font-weight: revert;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.about p{
    text-indent: 50px;
    padding: 15px;
    line-height: 2;
}


.profile{
    width: 100%;
    filter: hue-rotate(355deg);
    box-shadow: 2px 2px 9px #8b8b8b;
    border-radius: 6px;
    overflow: hidden;
}


figure {
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .about{
        justify-content: left;
    }

    p:last-child{
        width: 229%;
    }
}

.hover01 figure img {
	transform: scale(1);
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	transform: scale(1.05);
}

/*contact us*/


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{

    display: block !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin: 14px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    width: 550px;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root{
    background-color: white;
    padding-top: 0;
    margin: -2px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: blue;
    background-color: white;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
    width: 550px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    width: 100%;
}

.contact-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: auto;
}

.contact-form{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 8px #c1c1c1;
    padding: 20px;
    margin-bottom:50px
}

.send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px 15px;
}