#root {
    margin-right: 0px !important;
}


body {
    margin: 0;
    color: #2c2c2c;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #fff;
}

/*meadia secreen*/ 

@media only screen and (max-width: 330px) {
    .menu-button{
        margin: 0px !important;
        padding: 0px !important;
    }

    .nav-div{
        width: 100% !important;
        margin: 0px !important;
    }
}

@media only screen and (max-width: 485px) {
    .menu-button{
        margin: 3px !important;
        padding: 2px;
    }

    .nav-div{
        width: 100% !important;
        margin: 0px !important;
    }

    /* .nav-link {
        padding: 10px;
        color: white !important;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 7px !important;
    } */

    .navbar{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .intro-border{
        width: 190px !important;
    } */

    /* .home-intro-mail{
        width: 160px !important;
        
    } */

    .typewriter h1{
        margin-top: 5px!important;
    }

    p:last-child {
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .css-sghohy-MuiButtonBase-root-MuiButton-root {
        width: 76% !important;
    }

    .background-img {
        height: 440px !important;
    }

    .home-intro-text p{
        font-size: 12px !important;
    margin-top: 15px !important;
    }

    figure {
        margin: 0 0 0 -6px !important;
        margin-right: 47px !important;
    }

    .row h1{
        margin-bottom: -6px;
        font-size: 15px;
    }

    /* .mail-text{
        font-size: 10px;
        margin: 8px 7px 5px 1px !important;
    } */

    /* .contact-form {
        width: 450px !important;} */

     .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
            left: 7px !important;
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        margin: 14px !important;
        width: 95% !important;
        /* display: flex !important;
        justify-content: center;
        align-items: center; */
        left: 73px;
        }
    

    
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
        width: 75% !important;
    }

    .profile{
        margin-left: 40px;
    }
}
/* header page*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comic+Neue&family=Dancing+Script&family=Roboto:wght@900&display=swap');

i.icon{
    margin-bottom: 12px !important;
    color: white;
}

.navbar {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.nav-link {
    margin-right: 44px;
}

.background-img {
    background-image: url("5744543.png");
    background-repeat: no-repeat, repeat;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    display: block;
    width: 101vw;
}

.nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}

.nav-link {
    padding: 11px;
    color: white !important;
}

.active {
    color: white !important;
    font-weight: 800;
    border: 1px solid;
    padding-bottom: 4px;
}

.bg-light {
    background: transparent !important;
}


.title {

    font-size: 26px;
}

.home-intro {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.intro-mailbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    margin-top: 20px;
    transition: font-size 500ms;
}

.mail-button{
    margin: 15px;
}

   /* mail icon */
   i.icon {
    color: #0057b2 !important;
    display: flex !important;
}

/* .intro-mailbox:hover, .home-intro-text p {
    font-size: 15px;
} */

.home-intro-text {
    width: 50%;
    margin: 6%;
    margin-right: 0;
    line-height: 2;
}

.home-intro-text p {
    text-indent: 50px;
    margin-top: 39px;
    width: 95%;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
}

.home-intro-text h1 {
    color: #0757b0;
    font-weight: revert;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
}

.menu-button {
    width: 100px;
    text-align: center;
    border-radius: 50px;
    transition: background-color 1s;

}

.menu-button:hover {
    color: black !important;
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
}

/* .home-intro-mail {
    width: 160px;
    border: 1px solid white;
    padding-left: 17px;
    background-color: #ce5251;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .intro-border {
    background-color: #ce5251;
    width: 170px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} */

/* .mail-text {
    margin: 9px 10px 5px 10px;
    color: white;
} */

.intro-img {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.ui.card>.content,
.ui.cards>.card>.content {
    border: none !important;
    background-color: transparent !important;
}

.css-i4bv87-MuiSvgIcon-root {
    color: #fff;
}

.typewriter h1 {
    font-size: 51px;
    width: 62%;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30),
        blink-caret .5s infinite;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 59%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

@media only screen and (max-width: 600px) {
    .background-img {
        height: 550px;
    }

    .typewriter h1 {
        margin-top: 10px !important;
        font-size: 30px !important;
        width: 111% !important;
        margin-bottom: 10px;
    }

    .home-intro-text p {
        font-size: 13px;
        line-height: 1.7;
    }

    .intro-mailbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94%;
        margin-top: 20px;
        transition: font-size 500ms;
    }

    .nav-div {
        width: 518px ;
        font-size: 14px;
    }

    .intro-img {
        margin-top: 45px;
    }

    /* .intro-border {
        margin-top: -4px;
    } */

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    .background-img{
        background-image: url("page3.png");
    }

    .about{
        height: 990px !important;
    }

    .footer{
        padding: 20px
;
    }
    /* .myskill-charts{
        width: 650px;
        height: 350px;
    } */



}


/*about page*/

.about {
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: black;
    color: #fafdfd;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: auto;
    height: 630px;
    width: 101vw;
}

.social-buttons{
    display: flex;
}

.about-col {
    width: 100% !important;
}

.about h1 {
    color: #0755b2;
    font-weight: revert;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.about p {
    text-indent: 50px;
    padding: 15px;
    line-height: 2;
}


.profile {
    width: 100%;
    filter: hue-rotate(355deg);
    box-shadow: 2px 2px 9px #8b8b8b;
    border-radius: 6px;
    overflow: hidden;
}


figure {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .about {
        justify-content: left;
    }
}

.hover01 figure img {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    transform: scale(1.05);
}

/*My project page*/

.profile-img {
    margin: -38px;
    height: 144%;
    width: 100%;
}

.card {
    border: none;
    margin: 5%;
    background-color: #0757b0;
    color: white;
    padding: 2%;
    width: 73%;
    border: none;
    margin: 4%;
    background-color: #0757b0;
    color: white;
    padding: 2%;
    width: 100%;
    height: 217px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 3px 4px 5px #cdcdcd;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.card h5 {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}

.card h6 {
    display: contents;
    text-decoration: underline
}

.ui.animated.button {
    width: 37%;
    border-radius: 5px;
    margin-top: 9px;
    color: white;
    background-color: #ce5251;
}

.ui.animated.button:hover {
    color: white;
    background-color: #ce5251;
}

.ui.card {
    width: 90% !important;
    height: 220px;
}

.myproject {
    background-image: url("./page.png");
    background-repeat: no-repeat, repeat;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    padding: 0 50px;
    width: 102%;
}


.row h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 26px;
    font-weight: 900;
    font-size: 35px;
}

/**/
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;

}

.collapse {
    /* color: #212529; */

}

.navbar-light .navbar-toggler-icon {
    width: 20px !important;
}

.nav-link:hover {
    color: #212529;
    background-color: white !important;
}

.navbar-toggler {
    background-color: white;
    padding: 5px !important;
    font-size: 10px;
}

.navbar-light .navbar-toggler {
    color: rgb(253 253 253) !important;
    border-color: rgb(255 255 255) !important;
}

.navbar>.container-fluid {
    text-align: center;
}

/**/



@media only screen and (min-width: 500px) {
    .ui.animated.button {
        width: 50%;
    }

    .ui.card {
        height: 256px;
    }

    .myproject {
        height: 1500px;
        background-image: url("./page2.png");
    }


}


@media only screen and (max-width: 850px) {
    .nav-div{
        width: 574px;
    }

    .background-img{
        background-image: url("./page3.png") !important;
    }

    
    .intro-img{
        width: 85%;
        margin-bottom: 50px;
    }

    .background-img{
        width: 102%;
        height: auto;
    }

    .about{
        height: auto;
    }

    .ui.card {
        width: 100% !important;
        height: 281px;
    }
    .myproject{
        height: auto;
        width: 103%;
    }

}

@media only screen and (max-width: 1025px) {
       
    .intro-img{
        width: 85%;
        margin-bottom: 50px;
    }

    .background-img{
        width: 102%;
        height: auto;
    }

    .about{
        height: auto;
    }

    .ui.card {
        width: 100% !important;
        height: 281px;
    }
    .myproject{
        height: auto;
    }

}

@media only screen and (max-width: 540px) {
    .myproject {
        /* height: 1000px !important; */
        background-image: url("./page.png") ;
        height: auto;
        margin-bottom: -2px;
        background-repeat: repeat-y;
    }

    .ui.card {
        width: 83% ;
        height: auto;
    }

    .ui.animated.button {
        width: 65%;
    }

    .myskill{
        height: auto !important;
        width: 102%;
    }

    .typewriter h1 {
            margin-top: 10px !important;
            font-size: 26px !important;
            width: 130% !important;
            margin-bottom: 10px;
    }

    /* .menu-button{
        margin: 11px !important;
        padding: 11px !important;
    } */

    .nav-div{
        width: 100% !important;
        margin: 0px !important;
    }

    .about{
        height: auto !important;
    }
}


@media only screen and (min-width: 850px) {
    .myproject {
        /* height: 1000px !important; */
        background-image: url("./page.png");
        height: auto;
        margin-bottom: -2px;
        width: 103%;
    }

}


@media only screen and (min-width: 1150px) {
    .myproject {
        height: 755px !important;
    }
}

@media only screen and (max-width: 900px) {
    .background-img {
        background: url("./page3.png") !important;
    }

    .typewriter h1 {
        font-size: 32px;
        width: 103%;
    }

    .home-intro {
        margin-top: 45px;
    }


    /*deneme*/
    .navbar-nav {
        display: contents;
    }

    .menu-button {
        width: 85px;
    }

    .home-intro {
        padding-top: 20px;
    }


}

@media only screen and (min-width: 900px) {
     .background-img {
        background: url("./page1.png");
    } 
}

@media only screen and (min-width: 1150px) {
    .background-img {
       background: url("./5744543.png");
   } 
}



/*contact us page*/
.contact {
    background-image: url("./page2.png");
    height: auto;
    padding: 25px;
    width: 101vw;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    display: block !important;
    margin: 14px !important;
    width: 95%;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    margin-top: 20px !important;
}

/* 
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    left: 60px !important;
} */


.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 100%;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    background-color: white;
    padding-top: 0;
    margin: -2px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: blue;
    background-color: white;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    width: 550px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 100%;
}

.contact-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-bottom: auto;
    margin-top: 0;
    font-weight: 900;
    font-size: 35px;
    background-image: url("./page2.png");
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 8px #c1c1c1;
    padding: 20px;
    background-color: #ffffff;
}

.send-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 23px !important;
}

.css-1cpso70 {
    margin: 30px 15px;
}

.css-9k7nvd {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

.css-9k7nvd:hover {
    color: #000000;
}


/*footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* background-image: url(/static/media/page2.7f846179.png); */
    color: #0755b2;
    background-color: #000000;
    width: 101vw;
}

.social-media-icon{
    display: flex;
    justify-content: end;
}
/*scroll*/

.scrollTop {
    position: fixed;
    width: 32px;
    right: 20px;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    color: blue;
}

.scrollTop:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.effect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 19px;
}

.varrius a{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    transition: border 500ms, font-size 600ms;
    color: white;
}

.varrius a:hover{
    font-size: 28px;
    border: 1px dashed white;
    padding: 10px;
    border-radius: 50px;
}

.about h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 40px 0px 30px 0;
}

/*myskill*/

.myskill-charts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.myskill{
    display: block;
    justify-content: center;
    padding: 4%;
    background-color: black;
    color: #fafdfd;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: auto;
    height: 100%;
    width: 102%;
}